* {
  font-family: "Lato", sans-serif, Arial;
}
/* Header */
.top_head {
  background-color: #2d3a64;
  height: 5px;
}
.custom-logo {
  height: 60px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Menu */
.menuarea {
  float: right;
}
.menuarea nav {
  float: left;
}
.menuarea nav ul,
.menuarea nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menuarea nav li {
  float: left;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 100px;
}

.menuarea nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #2d3a64;
  font-size: 13px;
}
.menuarea .social {
  float: left;
  margin-left: 15px;
}
.menuarea .social a {
  text-decoration: none;
}
.menuarea .social img {
  height: 20px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}
/* Banner */
.banner {
  background-image: url("../images/bg.jpg");
  background-position: center;
  height: 300px;
}
.hero-image {
  height: 285px;
  margin-top: 15px;
}
