* {
  font-family: "Lato", sans-serif, Arial;
}
/* Header */
.top_head {
  background-color: #2d3a64;
  height: 5px;
}
.custom-logo {
  height: 60px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Menu */
.menuarea {
  float: right;
}
.menuarea nav {
  float: left;
}
.menuarea nav ul,
.menuarea nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menuarea nav li {
  float: left;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 100px;
}

.menuarea nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #2d3a64;
  font-size: 13px;
}
.menuarea .social {
  float: left;
  margin-left: 15px;
}
.menuarea .social a {
  text-decoration: none;
}
.menuarea .social img {
  height: 20px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}
/* Banner */
.banner {
  background-image: url("../images/bg.jpg");
  background-position: center;
}
.banner h2 {
  font-size: 30px;
  color: #fff;
  margin-top: 40px;
  line-height: 38px;
}
.banner h2 strong {
  color: #a0afe0;
}
.banner .optin {
  margin-top: 40px;
  font-size: 16px;
  color: #fff;
}
.banner .optin form {
  margin-top: 15px;
}
.banner .optin_email {
  height: 45px;
  font-size: 14px;
  border: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 333px;
  outline: 0;
  color: #333;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 2px 8px #333;
}
.banner .optin_btn {
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #293a65;
  background-color: #a0afe0;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  box-shadow: 2px 2px 8px #333;
}
.banner-small {
  padding-bottom: 30px;
}
.banner-small h2 {
  margin-top: 55px;
}
.hero-image {
  height: 285px;
  margin-top: 15px;
}

/* Testimonials */
.testimonials {
  height: 100px;
  background-color: #e3e3e3;
  padding-top: 17px;
}
.testimonials img {
  height: 65px;
  width: auto;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}

/* Posts */
article.type-post {
  margin-top: 45px;
  margin-bottom: 45px;
}
.post_thumb {
  width: 100%;
  height: auto;
}
.post_title {
  font-size: 30px;
  font-weight: bold;
}
.post_title a {
  color: #2d3a64;
  text-decoration: none;
}
.post_excerpt {
  font-size: 14px;
  color: #000;
  margin-top: 20px;
}
.post_readmore {
  margin-top: 30px;
}
.post_button {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 12px;
  background-color: #455482;
  border-radius: 8px;
}

/* Load more */
.loadmoreButton {
  color: #2d3a64;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 45px;
  width: 130px;
  cursor: pointer;
}

/* Footer */
.footer_up {
  background-color: #455482;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer_up h3 {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.cursos img {
  width: 100%;
  height: auto;
}
.footer_down {
  background-color: #2d3a64;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  color: #fff;
}

/* Post single */
.post_content {
  margin-top: 30px;
  margin-bottom: 50px;
}
.post_content img,
.post_content iframe {
  width: 100%;
}

/* Comments */
.commentlist {
  list-style: none;
  padding: 0;
}
.commentlist .children {
  list-style: none;
}
.commentlist .reply {
  text-align: right;
}
.commentlist .comment-author .says {
  display: none;
}
.comment-body {
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: double #ddd;
}

.comment-respond label {
  display: block;
}
.comment-respond textarea,
.comment-respond input[type="text"] {
  width: 300px;
  border: 2px solid #ddd;
  outline: 0;
  padding: 5px;
}

.comment-respond .submit {
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #293a65;
  background-color: #a0afe0;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
